<h1>Blog App</h1>

<% @posts.each do |post| %>
  <%= render 'partials/user', user: post.author %>
  <div class='posts-div'><%= render 'partials/post', post: post %></div>
  <%= render 'partials/comment', comments: post.recent_comments %>
<% end %>
<div class='pagination'>Pagination</div>  